<%= form_for post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :"title" %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :title_en %>
    <%= f.text_field :title_en %>
  </div>

  <div class="field">
    <%= f.label :body_en %>
    <%= f.text_area :body_en %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
